<!-- Main toolbar container -->
<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
  <!-- Home link -->
  <a routerLink="home">RVP Store</a>

  <!-- Shopping cart button with badge -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>

  <!-- Dropdown menu for cart items -->
  <mat-menu #menu="matMenu">
    <!-- Menu content container -->
    <div class="p-3 divide-y divide-solid">
      <!-- Cart summary and view cart link -->
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ itemsQuantity }} items</span>
        <a routerLink="cart">View Cart</a>
      </div>

      <!-- List of items in the cart -->
      <div *ngIf="cart.items.length" class="py-3">
        <!-- Single cart item -->
        <div
          class="flex justify-between font-light mb-2"
          *ngFor="let item of cart.items"
        >
          {{item.name}} x {{item.quantity}}
          <span class="font-bold">{{ item.price| currency }}</span>
        </div>
        <!-- Add more cart items here in the same format -->
      </div>

      <!-- Total price of items in the cart -->
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
      </div>

      <!-- Cart action buttons -->
      <div class="pt-3 flex justify-between">
        <!-- Remove all items from cart -->
        <button class="bg-rose-600 text-white rounded-full w-9 h-9" (click)="onClearCart()" >
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <!-- Go to cart page -->
        <button
          routerLink="cart"
          class="bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
